* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    background-color: pink;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 50px;
}

.counter__icon {
    font-size: 40px;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}
